/*GERAL*/
.container {
	margin-left: 7vw !important;
	margin-right: 7vw !important;
}

@media screen and (max-width: 885px) {
	.container {
		margin-left: 4vw !important;
		margin-right: 4vw !important;
	}

}

@media screen and (max-width: 600px) {
	.container {
		margin-left: 2vw !important;
		margin-right: 2vw !important;
	}

}